html {
  font-size: 0.052vw;
}

@media all and (min-width: 1920px) {
  html {
    font-size: 1px;
  }
}

body {
  font-size: max(16rem, 14px);
}

img {
  vertical-align: bottom;
}

.thumbnail-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}

.bg-overlay.show {
  opacity: 1;
  pointer-events: visible;
}

.none {
  display: none;
}

.txt-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.ico {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 20rem;
}

.ico-upload {
  background-image: url(../images/ico/ico-upload.svg);
}

.ico-upload.ico-white {
  background-image: url(../images/ico/ico-upload-white.svg);
}

.ico-alarm {
  background-image: url(../images/ico/ico-alarm.svg);
}

.ico-mypage {
  background-image: url(../images/ico/ico-mypage.svg);
}

.ico-x {
  background-image: url(../images/ico/ico-x.svg);
}

.ico-check {
  background-image: url(../images/ico/ico-check.svg);
}

.ico-bell {
  background-image: url(../images/ico/ico-bell.svg);
}

.ico-arrow-right {
  background-image: url(../images/ico/ico-arrow-right.svg);
}

.btn {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  cursor: pointer;
}

.theme-solid-btn {
  color: white;
  background-color: #464873;
  border-radius: 6px;
  padding: 0 15rem;
  height: max(46rem, 38px);
  font-weight: 300;
  text-align: center;
  font-size: max(14rem, 12px);
  cursor: pointer;
}

.rounded-blue-btn {
  border-radius: 40px;
  background-color: #5874FF;
  color: white;
  height: max(46rem, 38px);
  font-size: max(14rem, 12px);
}

.rounded-gray-btn {
  border-radius: 40px;
  background-color: #EBEBEB;
  color: #2B2B2B;
  height: max(46rem, 38px);
  font-size: max(14rem, 12px);
}

.txt-btn {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  cursor: pointer;
  color: #777777;
  font-size: max(14rem, 12px);
  text-decoration: underline;
}

.mg-left {
  margin-left: auto;
}

.inp {
  border: 1px solid #E8E8E8;
  border-radius: 6px;
  width: 100%;
  height: max(46rem, 38px);
  padding: 0 20rem;
  font-size: max(14rem, 12px);
  padding-right: max(40rem, 35px);
  outline: none;
}

.inp::placeholder {
  color: #A0A0A0;
}

.inp:focus {
  border-color: #cacaca;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  height: max(90rem, 70px);
  padding: 0 20rem;
  background-color: white;
  z-index: 10;
}

.header-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header .logo {
  width: max(208rem, 180px);
}

.header .logo img {
  width: 100%;
}

.header-btn-grp {
  margin-left: auto;
}

.header-btn-grp .btn-list-grp {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 14rem;
}

.header-btn-grp .list {
  position: relative;
}

.sub-hbtn-wrap {
  width: 100%;
}

.sub-hbtn-wrap.type-before-upload {
  position: absolute;
  left: 50%;
  padding-top: max(50rem, 46px);
  transform: translateX(-50%);
  max-width: 128px;
  opacity: 0;
  top: -10px;
  pointer-events: none;
  transition: all 0.3s;
}

.header-btn-grp .list:hover .sub-hbtn-wrap.type-before-upload {
  opacity: 1;
  top: 0;
  pointer-events: visible;
}

.header-btn-grp .list:hover .upload-hbtn {
  background-color: #464873;
  color: white;
}

.header-btn-grp .list:hover .upload-hbtn .ico-on {
  display: block;
}

.header-btn-grp .list:hover .upload-hbtn .ico-off {
  display: none;
}

.sub-hbtn-list-grp {
  border: 1px solid #E9E9E9;
  background-color: white;
  border-radius: 10px;
  padding: 8px 0;
}

.sub-hbtn-list .link {
  text-align: center;
  display: inline-block;
  width: 100%;
  font-size: 14px;
  color: #2B2B2B;
  padding: 8px;
  cursor: pointer;
}

.header .upload-hbtn {
  border: 1px solid #464873;
  border-radius: 20px;
  color: #464873;
  font-size: max(14rem, 12px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  outline: none;
  height: max(40rem, 36px);
  padding: 0 10rem;
  background-color: #fff;
  cursor: pointer;
  min-width: max(138rem, 120px);
  transition: all 0.3s;
  position: relative;
  z-index: 1;
}

.header .upload-hbtn:hover {
  background-color: #464873;
  color: white;
}

.header .upload-hbtn:hover .ico-off {
  display: none;
}

.header .upload-hbtn:hover .ico-on {
  display: block;
}

.header .upload-hbtn .ico {
  width: 14px;
  height: 14px;
}

.header .upload-hbtn .ico-on {
  display: none;
}

.header .upload-hbtn .txt {
  color: inherit;
}

.header .hbtn {
  border: 0;
  border-radius: 0;
  outline: none;
  background-color: transparent;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header .hbtn .ico {
  width: max(32rem, 25px);
  height: max(32rem, 25px);
  pointer-events: none;
}

.header .alarm-hbtn {
  position: relative;
}

.header .alarm-hbtn:before {
  width: 5px;
  height: 5px;
  content: '';
  display: inline-block;
  border-radius: 50%;
  background-color: #FF4444;
  top: 2px;
  right: 0px;
  position: absolute;
}

.l-page {
  width: 100%;
  min-height: calc(100vh - 90rem);
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.l-sidebar {
  width: 100%;
  max-width: max(280rem, 210px);
  background-color: white;
  flex-shrink: 0;
  padding-top: max(40rem, 30px);
}

.sidebar-menu-list {}

.sidebar-menu-list .link {
  display: inline-block;
  width: 100%;
  padding: max(22.5rem, 15px) max(30rem, 20px);
  font-size: max(16rem, 14px);
  font-weight: 400;
  line-height: 1.4;
  transition: all 0.3s;
  color: #232323;
}

.sidebar-menu-list.active .link {
  background-color: #464873;
  color: white;
}

.l-container {
  width: 100%;
}

.main-banner-wrap {
  height: 123px;
  position: relative;
  margin-bottom: max(32rem, 20px);
  padding-top: 13px;
}

.main-banner-wrap .character-img {
  position: absolute;
  bottom: 0;
  left: 27px;
  width: 132px;
}

.main-banner {
  background: linear-gradient(130deg, #3250CF, #2290AE, #2290AE);
  border-radius: 10px;
  color: white;
  overflow: hidden;
  width: 100%;
  height: 110px;
  padding-left: 170px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-banner .txt-wrap {
  color: white;
}

.main-banner .banner-title {
  font-weight: 600;
  margin-bottom: 10rem;
}

.main-banner .banner-desc {
  font-size: max(13rem, 11px);
  line-height: 1.4;
  font-weight: 300;
  opacity: 0.8;
}

.title-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15rem;
  padding-bottom: 28rem;
  border-bottom: 1px solid #AFAFAF;
}

.title-wrap .title {
  font-size: max(24rem, 18px);
  font-weight: 600;
}

.form-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.form-item .inp-grp {
  position: relative;
  max-width: 200px;
  margin-left: auto;
}

.form-item .label {
  width: 100%;
  max-width: 132rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  padding-left: 8px;
  flex-shrink: 0;
  font-size: max(14rem, 12px);
  line-height: 1.4;
}

.form-item .label .sm-text {
  color: #777;
  font-size: max(12rem, 10px);
}

.form-item .label:before {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  content: "";
  background-color: #000;
  display: inline-block;
  position: absolute;
  top: max(9rem, 7px);
  left: 0;
}

.question-mark {
  position: absolute;
  top: max(12.5rem, 11px);
  right: 12rem;
}

.question-mark:hover .question-desc {
  display: block;
}

.question {
  width: max(20rem, 16px);
  height: max(20rem, 16px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E1E1E1;
  border-radius: 50%;
  color: #7A7A7A;
  font-size: max(13rem, 11px);
  cursor: pointer;
}

.question-desc {
  position: absolute;
  z-index: 1;
  padding: 10rem;
  background-color: #ffffff;
  border-radius: 6px;
  width: max-content;
  right: 0;
  top: 25rem;
  font-size: 12rem;
  border: 1px solid #d0d0d0;
  max-width: 140rem;
  line-height: 1.4;
  display: none;
}

.inp-btn-item {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10rem;
}

.inp-btn-item .inp {
  min-width: 340rem;
}

.inp-btn-item .btn {
  flex-shrink: 0;
  min-width: 100rem;
}

.inp-item-container .title {
  font-size: max(16rem, 14px);
  font-weight: 600;
  margin-bottom: 14px;
}

.inp-item-container .list-grp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
  margin-bottom: max(20rem, 15px);
}

.inp-item-container .list {
  position: relative;
  width: 100%;
}

.inp-item-container .inp-item {
  width: 100%;
}

.inp-item .ii-label {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding-top: 14px;
  padding-left: 15px;
  padding-bottom: 14px;
  width: max(100rem, 100px);
  word-break: break-all;
  line-height: 1.4;
}

.inp-item .inp {
  background-color: #F8F8F8;
  height: max(44rem, 36px);
  border-color: #f8f8f8;
  text-align: right;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 100px;
}

.inp-item .circle-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  border-radius: 50%;
  background-color: #BABABA;
  border: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: max(18rem, 16px);
  height: max(18rem, 16px);
  transform: translateY(-50%);
  cursor: pointer;
}

.inp-item .circle-btn .ico {
  pointer-events: none;
  width: 8px;
  height: 8px;
}

.inp-item-container .theme-solid-btn {
  width: 100%;
  height: max(48rem, 40px);
  font-size: max(15rem, 13px);
}

.sub-hbtn-wrap.type-after-upload {
  position: absolute;
  right: 0;
  padding-top: max(50rem, 46px);
  width: 280px;
  opacity: 0;
  top: -10px;
  pointer-events: none;
  transition: all 0.3s;
}

.sub-hbtn-wrap.type-after-upload.show {
  top: 0;
  opacity: 1;
  pointer-events: visible;
}

.sub-hbtn-upload-container {
  background-color: white;
  border: 1px solid #E9E9E9;
  border-radius: 10px;
  padding: 20px;
}

.sub-hbtn-upload-container .progress-wrap {
  width: 100%;
  margin-bottom: 15px;
}

.sub-hbtn-upload-container .progress-wrap .txt {
  color: #2B2B2B;
  font-size: 13px;
}

.sub-hbtn-upload-container .progress-wrap .txt span {
  color: #5874FF;
}

.progress {
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: #F1F1F1;
  position: relative;
  overflow: hidden;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #5874FF;
  width: 50%;
}

.upload-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.upload-item .thumbnail {
  width: 46px;
  height: 46px;
  flex-shrink: 0;
}

.upload-item .info {
  color: #2B2B2B;
  font-size: 14px;
  width: 100%;
}

.upload-item .info-title {
  margin-bottom: 1px;
  line-height: 1.4;
}

.upload-item .info-desc {
  color: #A0A0A0;
  font-size: 85%;
}

.upload-item .circle-badge {
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #FFB83E;
  border-radius: 50%;
  flex-shrink: 0;
}

.upload-item .circle-badge .ico {
  width: 11px;
}

.grid-list-grp {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* 메인 페이지 */
.main-page {
  background-color: #FAFAFA;
  gap: 60rem;
}

.main-page .l-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: max(40rem, 25px);
  padding-top: max(40rem, 25px);
  padding-bottom: 100px;
}

.main-page .page-contents {
  width: 100%;
  max-width: 1100rem;
}

.main-page .inp-item-container {
  flex-shrink: 0;
  max-width: max(240rem, 220px);
  min-width: max(240rem, 220px);
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
  border: 1px solid #EAEAEA;
  padding: max(28rem, 25px) max(20rem, 15px) max(20rem, 15px);
}

.main-page .title-wrap {
  margin-bottom: max(34rem, 25px);
}

.main-page .grid-list-grp {
  column-gap: max(46rem, 30px);
  row-gap: 15px;
}

.main-page .grid-list-grp .list {
  width: calc((100% - max(92rem, 60px)) / 3);
}

/* 상태 페이지 */
.status-page {
  background-color: #FAFAFA;
}

.status-page .page-contents {
  height: 100%;
  text-align: center;
}

.status-page .page-contents:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.status-page .page-section {
  display: inline-block;
  vertical-align: middle;
}

.status-img-item .status-img {
  width: max(340rem, 300px);
  margin-bottom: max(40rem, 30px);
}

.status-img-item .title {
  font-size: max(34rem, 25px);
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 12px;
  color: #2B2B2B;
}

.status-img-item .title:last-child {
  margin-bottom: 0;
}

.status-img-item .desc {
  font-size: max(20rem, 16px);
  font-weight: 400;
  margin-bottom: max(36rem, 25px);
  color: #2B2B2B;
}

.status-img-item .desc:last-child {
  margin-bottom: 0;
}

.status-btn-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 240px;
  margin: 0 auto;
}

/* 채팅 페이지 */
.chat-main-page {
  background-color: #FAFAFA;
}

.chat-main-page .page-contents {
  height: 100%;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.chat-status-area {
  height: 100%;
  background-color: #FAFAFA;
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
  overflow: auto;
  padding: max(52rem, 30px) 0;
}

.bubble-grp {
  display: flex;
  align-items: flex-start;
  margin-bottom: max(25rem, 18px);
}

.bubble-grp.in {
  justify-content: flex-end;
}

.bubble-grp.out {
  justify-content: flex-start;
}

.bubble-grp .icon {
  margin-right: 12px;
  width: max(38rem, 35px);
  height: max(38rem, 35px);
  background-color: red;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.bubble-grp .icon img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

.bubble {
  background-color: #464873;
  color: white;
  font-size: max(14rem, 12px);
  line-height: 1.5;
  word-break: keep-all;
  border-radius: 30px;
  padding: max(15rem, 12px) max(20rem, 15px);
}

.bubble-grp.in .bubble {
  border-bottom-right-radius: 0;
}

.bubble-grp.out .bubble {
  color: #000;
  background-color: white;
  padding: max(20rem, 15px);
  box-shadow: 0 3px 6px rgba(198, 198, 198, 0.16);
  border-top-left-radius: 0;
}

.chat-create-area {
  padding-top: max(40rem, 30px);
  width: 100%;
  position: relative;
  background-color: white;
}

.chat-create-area .inp-grp {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.chat-create-area .inp {
  background-color: #F5F5F5;
  height: max(52rem, 48px);
  border-radius: 6px;
  border: 0;
  outline: none;
  width: 100%;
  padding: 0 max(30rem, 20px);
  padding-right: max(100rem, 75px);
}

.chat-create-area .inp::placeholder {
  color: #A0A0A0;
}

.chat-create-area .send-btn {
  position: absolute;
  border-radius: 6px;
  min-width: max(70rem, 60px);
  font-size: max(14rem, 12px);
  color: white;
  background-color: #464873;
  padding: 0 10px;
  height: max(36rem, 33px);
  border: 0;
  outline: none;
  top: 9px;
  right: 14px;
}

.dot-flashing-grp {
  width: 34px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot-flashing {
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: #464873;
  color: #464873;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -12px;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: #464873;
  color: #464873;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 12px;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: #464873;
  color: #464873;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: #464873;
  }

  50%,
  100% {
    background-color: #dadae4;
  }
}

/* 마이페이지 */
.mypage-main-page {
  padding-bottom: 100px;
}

.mypage-main-top-wrap {
  background-color: #464873;
  color: white;
  margin-bottom: 20px;
  padding: 10px 0;
}

.mypage-main-top-wrap .inner {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mypage-main-top-wrap .txt-wrap {
  font-size: max(14rem, 12px);
  font-weight: 300;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.mypage-main-top-wrap .txt-wrap b {
  font-weight: 600;
}

.mypage-main-top-wrap .txt-wrap .ico-bell {
  width: max(28rem, 25px);
  height: max(28rem, 25px);
}

.mypage-main-top-wrap .ico-arrow-right {
  width: 13px;
  height: 13px;
}

.user-info-item {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
  background-color: #F6F6F6;
  border-radius: 10px;
  margin-bottom: max(40rem, 30px);
  padding: max(25rem, 18px) max(30rem, 20px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.user-info-item .user-info {
  display: inline-flex;
  gap: max(18rem, 15px);
  align-items: center;
  justify-content: flex-start;
}

.user-info-item .user-info .thumbnail {
  width: max(60rem, 50px);
  height: max(60rem, 50px);
  border-radius: 50%;
  flex-shrink: 0;
}

.user-info-item .user-info .name {
  font-size: max(18rem, 15px);
  font-weight: 600;
  line-height: 1.4;
}

.user-info-item .info-list-grp {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.user-info-item .info-list {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding-right: 17px;
  margin-right: 17px;
}

.user-info-item .info-list:last-child {
  margin-right: 0;
  padding-right: 0;
}

.user-info-item .info-list:last-child:after {
  display: none;
}

.user-info-item .info-list:after {
  content: '';
  width: 1px;
  height: 12px;
  position: absolute;
  top: 50%;
  right: 0;
  display: inline-block;
  background-color: #CECECE;
  transform: translateY(-50%);
}

.user-info-item .il-dt {
  font-size: max(14rem, 12px);
  color: #000;
}

.user-info-item .il-dd {
  color: #5874FF;
}

.mypage-main-page .page-section {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.mypage-main-page .title-wrap {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}

.mypage-main-page .title-wrap .title {
  font-size: max(18rem, 16px);
}

.mypage-main-page .title-wrap .btn-wrap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: max(14rem, 10px);
}

.mypage-main-page .title-wrap .btn-wrap.none {
  display: none;
}

.mypage-main-page .grid-list-grp {
  column-gap: 15px;
  row-gap: max(30rem, 20px);
}

.mypage-main-page .grid-list-grp .list {
  width: calc((100% - 60px) / 5);
}

.figure-item {
  position: relative;
}

.figure-item .thumbnail {
  background-color: #f1f1f1;
  padding-top: 100%;
  position: relative;
  margin-bottom: 8px;
}

.figure-item .thumbnail .thumbnail-img {
  position: absolute;
  top: 0;
  left: 0;
}

.figure-item .fi-title {
  color: #444444;
  font-size: 13px;
  line-height: 1.4;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #DBDBDB;
  background-color: white;
  transition: all 0.3s;
  cursor: pointer;
}

.custom-checkbox-inp:checked+.custom-checkbox {
  background-color: #464873;
  border-color: #464873;
  background-image: url(../images/ico/ico-check.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

.figure-item .custom-checkbox {
  position: absolute;
  z-index: 1;
  top: 4px;
  left: 4px;
  display: none;
}

.grid-list-grp.edit-mode .figure-item .custom-checkbox {
  display: block;
}

@media all and (max-width: 1450px) {

  html,
  body {
    min-width: 1400px;
  }
}